<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.camping.mapper.AdSpotMapper">
	<select id="getSpotList" resultType="org.camping.model.SpotDTO">
		select * from (select spot.*, rownum r from (select * from spot order by num) spot) 
		<![CDATA[where r>=#{startRow} and r<=#{endRow}]]>
	</select>
	<select id="getSpotCount" resultType="Integer">
		select count(*) from spot
	</select>
	<insert id="addSpot" parameterType="org.camping.model.SpotDTO">
		insert into spot(num, status, name, read, score, phone, addr, lng, lat, image, page, cate, tag, reg)
				 values(998, 0, #{name}, 0, 0, #{phone}, #{addr}, #{lng}, #{lat}, #{image}, #{page}, #{cate}, #{tag}, sysdate)
	</insert>
</mapper>