<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.camping.mapper.BoardMapper">

	<select id="getBoards" resultType="org.camping.model.BoardDTO" parameterType="int">
		<![CDATA[
			select * from 
				(select board.* , rownum r from 
					(select  *  from board order by boardnum desc ) board) 
						where r >= #{startRow} and r <= #{endRow}
		]]>
	</select>


	<insert id="insertBoard" >
		insert into board values(
		board_seq.NEXTVAL,
		#{category},
		#{title},
		#{content},
		#{writer},
		#{image},
		NULL,
		#{readcount},
		sysdate,
		#{status}) 
	</insert>


	<insert id="insertSGBoard" >
		insert into board values(
		board_seq.NEXTVAL,
		#{category},
		#{title},
		#{content},
		#{writer},
		#{image},
		#{password},
		#{readcount},
		sysdate,
		#{status}) 
	</insert>
	
	
	<select id="categoryCheck" resultType="org.camping.model.BoardDTO">
		<![CDATA[
			SELECT * FROM 
				(SELECT ROWNUM r , b.* FROM board b WHERE CATEGORY = #{category}) 
					WHERE r >= #{startRow} AND r <= #{endRow}
		]]>
	</select>


	<select id="categoryCheckCount" resultType="int">
		select count(*) from board where category=#{category}
	</select>
	
	
	<select id="getBoardCount" resultType="int">
		select count(*) from board
	</select>
	
	
	<select id="getBoard" resultType="org.camping.model.BoardDTO">
		select * from board where boardnum=#{boardnum} 
	</select>
	
	
	<select id="maxNum" resultType="int">
		select NVL(max(boardnum),0) from board
	</select>
	
	
	<update id="readCountUp">
		update board set readcount=readcount+1 where boardnum=#{boardnum}
	</update>
	
	
	
	
	
	<update id="updateBoard">
		update board set category=#{category}, title=#{title}, content=#{content}, image=#{image}, password=#{password} where boardnum=#{boardnum}
	</update>
	
	
	<delete id="deleteBoard" >
		delete from board where boardnum=#{boardnum} and writer=#{writer}
	</delete>
	
	
	<select id="delete" resultType="int">
		select count(*) from board where boardnum=#{boardnum} and writer=#{writer}
	</select>
	
	
	<delete id="sgdeleteBoard" >
		delete from board where boardnum=#{boardnum} and password=#{password}
	</delete>
	
		
	<select id="sgdelete" resultType="int">
		select count(*) from board where boardnum=#{boardnum} and password=#{password}
	</select>
	
		
</mapper>