<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.camping.mapper.MemberMapper">
	<insert id = "signUp">
		insert into ACCOUNT(id, pw, nickname, gender, mail1, mail2, adrs, birth, reg, question, ans, car) values (#{id},
																										 #{pw}, 
																										 #{nickname}, 
																										 #{gender}, 
																										 #{mail1},
																										 #{mail2}, 
																										 #{adrs},
																										 #{birth}, 
																										 sysdate, 
																										 #{question}, 
																										 #{ans}, 
																										 #{car})
	</insert>

	
	

	<select id = "userCheck" resultType = "int">
		select count(*) from ACCOUNT where id=#{id} and pw=#{pw} 
	</select>
	
	<select id = "adCheck" resultType = "int">
		select count(*) from account where status='2' and id=#{id} 
	</select>
	
	<select id = "deleteUser" resultType = "int">
		select count(*) from account where  status='0' and id=#{id}
	</select>
	
	<select id = "idConfirm" resultType = "int">
		select count(*) from ACCOUNT where id=#{id}
	</select>
	
	<select id = "nickConfirm" resultType = "int">
		select count(*) from account where nickname=#{nickname}
	</select>
	
	<select id = "surveyCheck" resultType = "int">		
		select count(*) from account where id=#{id} 
			and ans1 is not null
			and ans2 is not null
			and ans3 is not null
			and ans4 is not null
			and ans5 is not null
			and ans6 is not null
	</select>
	
	<select id = "info" resultType = "org.camping.model.InfoDTO">
		select * from account where id=#{id}
	</select>
	
	<select id = "myBoard" resultType = "int">
		select count(*) from board where writer=#{id} 
	</select>
	
	<select id ="getList" resultType = "org.camping.model.BoardDTO" >
		<![CDATA[
		select * from 
			(select board.* , rownum r from 
				(select  *  from board where writer=#{id} order by boardNum desc)board) 
					where r >= #{startRow} and r <= #{endRow}
		]]>	
	</select>

	<select id = "favoCount" resultType = "int">
		select count(*) from favorite where id=#{id}
	</select>
	<select id = "deleteFavoCh" resultType = "int">
		select count(*) from favorite where id=#{id} and num=#{num} and status=#{status} 
	</select>
	<select id = "favoCamp" resultType = "org.camping.model.SpotDTO">
		<![CDATA[ 	
			select * from 
				(select favorite.* , rownum r from 
					(select * from(select * from spot inner join favorite on spot.num = favorite.num where  favorite.status = '1' and id=#{id})
					 	where id=#{id})favorite) where r>=#{startRow} and r<=#{endRow}
		 ]]>
	</select>
	<select id = "favoCampCh" resultType = "int">
		select count(*) from favorite where status = '1' 
	</select>
	
	<select id = "favoEquip" resultType = "org.camping.model.EquipDTO">
	<![CDATA[ 
		select * from 
			(select favorite.* , rownum r from 
				(select * from(select * from equipments inner join favorite on equipments.num = favorite.num where favorite.status = '0' and id=#{id}) 
					 where id=#{id} order by id desc)favorite)  where r>=#{startRow} and r<=#{endRow}
	 ]]>	
	</select>
	
	<select id = "favoEquipCh" resultType = "int">
		select count(*) from favorite where status = '0' 
	</select>
	
	<select id="getCountFil" resultType="Integer">
		select regexp_count(ans5,',') from account where id=#{id}
	</select>
	
	<select id="getFil" resultType="String">
		select regexp_substr(ans5,'[^,]+',1,#{filNum}) from account where id=#{id}
	</select>
	
	<select id="getContentFil" resultType="org.camping.model.EqcategoryDTO">
		select * from account where ans5 in (
		<foreach collection="ans5" item="ans5" separator=",">
			#{ans5}
		</foreach>
		)
	</select>

	<select id = "chlist" resultType = "org.camping.model.ChecklistDTO">
		select * from checklist where id=#{id} and status=#{status}
	</select>
	
	<select id = "chlist2" resultType = "int">
		select count(*) from checklist where id=#{id} and status=#{status}
	</select>
	
	<select id = "clSite" resultType = "org.camping.model.ChecklistDTO">
		select * from spot inner join checklist on spot.num = checklist.site
   			where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clTent" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.tent
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clTaf" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.taf
  			where id=#{id} and checklist.status=#{status} 
	</select>
	
	<select id = "clWaterjug" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.waterjug
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clStove" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.stove
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clLight" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.light
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clMat" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.mat
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clSb" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist on equipments.num = checklist.sb
   			where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clChair" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist  on equipments.num = checklist.chair
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clDesk" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist  on equipments.num = checklist.desk
    		where id=#{id} and checklist.status=#{status}
	</select>
	
	<select id = "clGas" resultType = "org.camping.model.EquipDTO">
		select * from equipments inner join checklist  on equipments.num = checklist.gas
   			where id=#{id} and checklist.status=#{status}
	</select>

	

	

	<update id = "survey"  >
		update account
		<set>
			<if test = "ans1.length>0">ans1=#{ans1},</if>
			<if test = "ans2.length>0">ans2=#{ans2},</if>
			<if test = "ans3.length>0">ans3=#{ans3},</if>
			<if test = "ans4 != null">ans4=#{ans4},</if>
			<if test = "ans5.length>0">ans5=#{ans5},</if>
			<if test = "ans6.length>0">ans6=#{ans6}</if>
		</set>
		where id=#{id}
	</update>
	
	<update id = "delete">
		update account set status='0' where id=#{id} 
	</update>
	
	<update id = "userInfo">
		update account set pw=#{pw},
						   nickname=#{nickname},
						   mail1=#{mail1},
						   mail2=#{mail2},
						   question=#{question},
						   ans=#{ans},
						   car=#{car} where id=#{id}
	
	</update>
	
	<update id = "loginTime">
		update account
		<set>
			<if test = "loginTime == null">loginTime = sysdate</if> 
		</set>
		where id=#{id}
	</update>
	
	<update id = "chModify"  >
		update checklist set id=#{id}, price=#{price}, person=#{person}, season=#{season}, 
							 site=#{site}, tent=#{tent}, taf=#{taf}, waterjug=#{waterjug}, stove=#{stove}, 
							 light=#{light}, mat=#{mat}, sb=#{sb}, chair=#{chair}, desk=#{desk}, gas=#{gas}, 
							 status=#{status}, reg=sysdate 
							 where id=#{id} and status=#{status}
	</update>
		
	<update id = "deleteCheck">
		update checklist set status='0' where id=#{id} and status=#{status} 
	</update>
	
	<delete id="deleteFavo" >
		delete from favorite where id=#{id} and status=#{status} and num=#{num}
	</delete>

</mapper> 
